lufti-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  opacity: 0;
  transition: opacity var(--lufti-animation-delay) ease-out;
  will-change: opacity;
  z-index: 30;
}

lufti-loading.s-loading {
  transform: none;
  opacity: 1;
}

lufti-loading:before {
  display: block;
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
}

.lufti-loading-icon {
  width: 80px;
  z-index: 10;
}

.lufti-loading-icon path {
  stroke-width: 0.5px;
  stroke: var(--lufti-color-text);
  stroke-dasharray: 27;
  animation: dash 1300ms infinite linear forwards;
  opacity: 0.7;
}

@keyframes dash {
  to {
    stroke-dashoffset: 54;
  }
}
