:host {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  height: 16px;
}

.lufti-counter-digit {
  display: inline-block;
  text-align: center;
  line-height: 1;
  position: relative;
}

.lufti-counter-digit:after {
  content: "-";
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
}

.lufti-counter-digit div {
  line-height: 1;
}
