.lufti-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.lufti-header {
  position: relative;
}

.lufti-header lufti-legend {
  position: absolute;
  width: 100%;
  top: 48px;
  z-index: -1;
}

.lufti-header__title {
  margin: 0;
  background-color: var(--lufti-color-primary--weaker);
  color: var(--lufti-color-text);;
  line-height: 1;
  padding: var(--lufti-margin--3) var(--lufti-margin--2);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--lufti-animation-duration) ease-out var(--lufti-animation-delay);
  will-change: background-color;
}

.lufti-header-logo {
margin-left: var(--lufti-margin--2);
fill: var(--lufti-color-text);
width: 24px;
}

.lufti-header-logo path {
stroke-width: 1px;
stroke: var(--lufti-color-text);
}

.lufti-main {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 64px;
}

.lufti-main__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 24px;
  padding-bottom: 60px;
  align-items: center;
  justify-content: center;
}

.lufti-face-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.lufti-air-component {
  width: 90vw;
  position: relative;
  opacity: 1;
  transition: opacity var(--lufti-animation-duration) ease-out var(--lufti-animation-delay);
  will-change: opacity;
  font-weight: 300;
  z-index: 10;
}

lufti-face {
  opacity: 1;
  transition: opacity var(--lufti-animation-duration) ease-out var(--lufti-animation-delay);
  will-change: opacity;
}

.lufti-container--initial .lufti-air-component,
.lufti-container--initial lufti-face {
  opacity: 0;
}

.lufti-air-component-svg {
  fill: var(--lufti-color-primary--weaker);
  transform: rotate(90deg);
  stroke-width: 4px;
}

.lufti-air-component-value-container {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lufti-air-component-value {
  font-size: 48px;
  font-weight: 200;
  position: relative;
  line-height: 1;
}

.lufti-air-component-title {
display: block;
font-size: 10px;
font-weight: 300;
line-height: 1;
opacity: 1;
/* background-color: var(--lufti-color-text);
color: var(--lufti-color-primary);
transition: color 300ms ease-out;
will-change: color;
padding: 2px; */
}

.lufti-air-component-value--pm10 {
  display: flex;
  order: 1;
  align-items: center;
  padding-right: var(--lufti-margin--2);
}

.lufti-air-component-value--pm10:after {
  content: "";
  position: absolute;
  right: -1px;
  top: 0;
  height: 100%;
  width: 1px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent);
  display: block;
}

.lufti-air-component-value--pm10 .lufti-air-component-title {
  text-align: center;
  font-weight: 300;
  margin-left: 4px;
}

.lufti-air-component-value--pm25 {
  font-size: 28px;
  order: 2;
  display: flex;
  flex-direction: column;
  padding-left: var(--lufti-margin--2);
}

.lufti-air-component-value--pm25 .lufti-air-component-title {
  font-size: 10px;
  padding-right: 2px;
  text-align: right;
}

.lufti-search-container {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
transition: transform 200ms ease-out;
will-change: transform;
transform: translateY(-44px);
position: relative;
z-index: 15;;
}

.lufti-container--initial .lufti-search-container {
transform: translateY(calc(-50vh + 40px));
}

.lufti-timestamp {
font-size: 11px;
font-weight: 300;
bottom: var(--lufti-margin--2);
opacity: 1;
transition: opacity var(--lufti-animation-duration) ease-out var(--lufti-animation-delay);
width: 100%;
text-align: center;
position: absolute;
bottom: -36px;
display: flex;
flex-direction: column;
}

.lufti-location {
font-size: 11px;
font-weight: 300;
bottom: var(--lufti-margin--2);
opacity: 1;
transition: opacity var(--lufti-animation-duration) ease-out var(--lufti-animation-delay);
position: absolute;
bottom: -24px;
width: 100%;
text-align: center;
}

.lufti-container--initial .lufti-timestamp,
.lufti-timestamp.s-loading,
.lufti-container--initial .lufti-location,
.lufti-location.s-loading {
opacity: 0;
}

.lufti-github,
.lufti-github:hover,
.lufti-github:focus,
.lufti-github:visited,
.lufti-github:active {
border: 0;
box-shadow: none;
outline: 0;
background: transparent;
position: fixed;
bottom: 0;
right: 0;
width: 44px;
height: 44px;
-webkit-tap-highlight-color: transparent;
z-index: 20;
}

.lufti-github:hover {
cursor: pointer;
}

.lufti-github path {
fill: var(--lufti-color-text);
}
