/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

/*
 *  MAIN CUSTOM PROPERTIES
 */

 :root {
  --lufti-color-primary: rgba(62, 147, 208, 0.8);
  --lufti-color-primary--weak: rgba(62, 147, 208, 0.75);
  --lufti-color-primary--weaker: rgba(62, 147, 208, 0.5);
  --lufti-color-primary--dark: rgba(62, 147, 208, 0.85);
  --lufti-color-primary--darker: rgba(62, 147, 208, 0.9);
  --lufti-color-text: rgba(255, 255, 255, 1);
  --lufti-color-text--weak: rgba(255, 255, 255, 0.7);
  --lufti-color-text--weaker: rgba(255, 255, 255, 0.5);

  --lufti-animation-delay: 200ms;
  --lufti-animation-duration: 300ms;

  --lufti-margin--1: 4px;
  --lufti-margin--2: calc(var(--lufti-margin--1) * 2);
  --lufti-margin--3: calc(var(--lufti-margin--1) * 3);
  --lufti-margin--4: calc(var(--lufti-margin--1) * 4);
  --lufti-margin--5: calc(var(--lufti-margin--1) * 5);
  --lufti-margin--6: calc(var(--lufti-margin--1) * 6);
  --lufti-margin--7: calc(var(--lufti-margin--1) * 7);
  --lufti-margin--8: calc(var(--lufti-margin--1) * 8);
  --lufti-margin--9: calc(var(--lufti-margin--1) * 9);
  --lufti-margin--10: calc(var(--lufti-margin--1) * 10);
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  overflow: hidden;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: var(--lufti-color-text);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  background-color: var(--lufti-color-primary--darker);
  transition: background-color var(--lufti-animation-duration) ease-out var(--lufti-animation-delay);
  will-change: background-color;
}
