:host {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  will-change: box-shadow;
  animation: pulse 1500ms;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--lufti-color-primary--weaker);
  }
  70% {
      box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
